doctype html
html(lang='en')
    head
        title= title
    body
        h1= title
        p Welcome to #{title}
        ul
            li
                a(href="/") home 
            li
                a(href="/login") login 
            li
                a(href="/reg") reg 
        block content 
    footer
        block footer
            | © 2009-2017 CyLeeBlog.com 版权所有 ICP证：粤S-172RM    