doctype html
html(lang='en')
    head
        title= title
    body
        h1= title
        p Welcome to #{title}
        block content
    footer
        block footer
            | © 2009-2017 CyLeeBlog.com 版权所有 ICP证：粤S-172RM    