<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Cy'Lee Blogs - <%= title %></title>
</head>
<body>
    <header><h1><%= title %></h1></header>
    <nav>
        <span><a href="/" title='主页'></a></span>
        <span><a href="/login" title='登陆'></a></span>
        <span><a href="/reg" title='注册'></a></span>
    </nav>
    <article>